*{
    margin: 0;
    padding: 0;
}

.holder{
    display: grid;
    grid-template-columns: 200px 200px; 
    grid-template-rows:  200px 200px;
     
    width: 200px;
    height: 200px;
     
}

h1{
    border: 1px solid red;
}
/* Your CSS Code here. */